{
  "extends": ["react-app", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-dupe-keys": "warn",
    "object-shorthand": "warn",
    "no-undef": "warn",
    "no-unused-vars": "warn",
    "no-use-before-define": "warn"
  }
}
